body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

#introduction {
    width: 90%;
    height: 35x;
    margin: 20px auto;
    text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #003049;
  padding: 10px;
}

/*
.grid-container2 {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #003049;
  padding: 10px;
}
*/

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}




/*flex-direction - main direction in container --> main axis = horizontal; cross axis = vertical */

/*

#container {
    display: flex;
    flex-direction: row | row-reverse | column | column-reverse;
}
*/

/*justify-content - depends on DIRECTION - how the content is distributed across the MAIN axis*/

/*
#container {
    display: flex;
    justify-content:    flex-start 
                        flex-end    
                        center 
                        space-between - space between elements, but not between elements and container -> 1st element at the beginning of the container,last element at the end of the container and what remains in the middle is        centered
                        space-around - same space around it
                        space-evenly - same space around elements and container, taken 2 by 2;
}
*/

/*flex-wrap - elements are going to wrap over the line/column */

/*
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
*/

/*align-items - align items on the CROSS axis */

/*
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
*/

/*align-content - to distribute the space around CROSS axis when we have more rows - CONTENT WRAPING */
/*align-self - same align-content, but with individual elements */


/*    - meeting in the midle */
/*
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center; 
}
*/


#container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
/*    align-items: center*/
}

/* takes the 3rd element individually */
div:nth-of-type(3){
    align-self: flex-end;
}

/* takes the 5th*/
div:nth-of-type(5){
    align-self: flex-end;
}


