/*<!--  css priority:  CCS INLINE > CSS INTERNAL > CSS EXTERNAL -->*/
/*<!-- margin/padding: top right bottom left --> */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.title {
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    
}

.subtitle {
    color: #999;
    margin-bottom: 1em;
    font-family: 'Lato';
    font-size: 1.5em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.menu {
    width: 990px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.menu-item{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
/*    padding: 10px 40px 10px 40px;*/
    background: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    color: #888;
    vertical-align: bottom;
    
}

.menu-item-active{
   position: relative;
    bottom: -1px;
    color: #c0392b;
    padding: 15px 40px 15px 40px;
    margin-top: 0;
}

hr{
    margin-top: 25px;
    border: 1px solid #f1f1f1;
}
